In [15]:
from datetime import datetime, timedelta
import numpy as np
import os
from collections import defaultdict
from dataclasses import dataclass

In [2]:
query = [["ADD_WORKER","John","Junior Developer","100"], 
 ["ADD_WORKER","Ashley","Junior Developer","100"], 
 ["REGISTER","John","150"], 
 ["REGISTER","Ashley","160"], 
 ["REGISTER","John","200"], 
 ["REGISTER","Ashley","220"], 
 ["TOP_N_WORKERS","10","Junior Developer"], 
 ["PROMOTE","John","Middle Developer","200","500"], 
 ["REGISTER","Ashley","300"], 
 ["REGISTER","John","310"], 
 ["TOP_N_WORKERS","10","Junior Developer"], 
 ["TOP_N_WORKERS","10","Middle Developer"], 
 ["REGISTER","Ashley","500"], 
 ["REGISTER","John","510"], 
 ["TOP_N_WORKERS","10","Junior Developer"], 
 ["TOP_N_WORKERS","10","Middle Developer"], 
 ["REGISTER","John","600"], 
 ["REGISTER","John","720"], 
 ["TOP_N_WORKERS","10","Junior Developer"], 
 ["TOP_N_WORKERS","10","Middle Developer"], 
 ["PROMOTE","John","Senior Developer","320","800"], 
 ["REGISTER","John","800"], 
 ["TOP_N_WORKERS","10","Junior Developer"], 
 ["TOP_N_WORKERS","10","Middle Developer"], 
 ["TOP_N_WORKERS","10","Senior Developer"], 
 ["REGISTER","John","877"], 
 ["TOP_N_WORKERS","10","Middle Developer"], 
 ["TOP_N_WORKERS","10","Senior Developer"]]

mine = ["true", 
 "true", 
 "registered", 
 "registered", 
 "registered", 
 "registered", 
 "Ashley(60), John(50)", 
 "success", 
 "registered", 
 "registered", 
 "Ashley(60), John(50)", 
 "", 
 "registered", 
 "registered", 
 "Ashley(260)", 
 "John(250)", 
 "registered", 
 "registered", 
 "Ashley(260)", 
 "John(370)", 
 "success", 
 "registered", 
 "Ashley(260)", 
 "", 
 "John(370)", 
 "registered", 
 "", 
 "John(447)"]

theirs = ["true", 
 "true", 
 "registered", 
 "registered", 
 "registered", 
 "registered", 
 "Ashley(60), John(50)", 
 "success", 
 "registered", 
 "registered", 
 "Ashley(60), John(50)", 
 "", 
 "registered", 
 "registered", 
 "Ashley(260), John(250)", 
 "", 
 "registered", 
 "registered", 
 "Ashley(260)", 
 "John(120)", 
 "success", 
 "registered", 
 "Ashley(260)", 
 "", 
 "John(0)", 
 "registered", 
 "", 
 "John(77)"]

In [7]:
z = zip(query,mine,theirs)
for q,m,t in z:
    print(q, 'theirs=', t, '  mine=', m)

['ADD_WORKER', 'John', 'Junior Developer', '100'] theirs= true   mine= true
['ADD_WORKER', 'Ashley', 'Junior Developer', '100'] theirs= true   mine= true
['REGISTER', 'John', '150'] theirs= registered   mine= registered
['REGISTER', 'Ashley', '160'] theirs= registered   mine= registered
['REGISTER', 'John', '200'] theirs= registered   mine= registered
['REGISTER', 'Ashley', '220'] theirs= registered   mine= registered
['TOP_N_WORKERS', '10', 'Junior Developer'] theirs= Ashley(60), John(50)   mine= Ashley(60), John(50)
['PROMOTE', 'John', 'Middle Developer', '200', '500'] theirs= success   mine= success
['REGISTER', 'Ashley', '300'] theirs= registered   mine= registered
['REGISTER', 'John', '310'] theirs= registered   mine= registered
['TOP_N_WORKERS', '10', 'Junior Developer'] theirs= Ashley(60), John(50)   mine= Ashley(60), John(50)
['TOP_N_WORKERS', '10', 'Middle Developer'] theirs=    mine=
['REGISTER', 'Ashley', '500'] theirs= registered   mine= registered
['REGISTER', 'John', '510'] theirs= registered   mine= registered
['TOP_N_WORKERS', '10', 'Junior Developer'] theirs= Ashley(260), John(250)   mine= Ashley(260)
['TOP_N_WORKERS', '10', 'Middle Developer'] theirs=    mine= John(250)
['REGISTER', 'John', '600'] theirs= registered   mine= registered
['REGISTER', 'John', '720'] theirs= registered   mine= registered
['TOP_N_WORKERS', '10', 'Junior Developer'] theirs= Ashley(260)   mine= Ashley(260)
['TOP_N_WORKERS', '10', 'Middle Developer'] theirs= John(120)   mine= John(370)
['PROMOTE', 'John', 'Senior Developer', '320', '800'] theirs= success   mine= success
['REGISTER', 'John', '800'] theirs= registered   mine= registered
['TOP_N_WORKERS', '10', 'Junior Developer'] theirs= Ashley(260)   mine= Ashley(260)
['TOP_N_WORKERS', '10', 'Middle Developer'] theirs=    mine=
['TOP_N_WORKERS', '10', 'Senior Developer'] theirs= John(0)   mine= John(370)
['REGISTER', 'John', '877'] theirs= registered   mine= registered
['TOP_N_WORKERS', '10', 'Middle Developer'] theirs=    mine=
['TOP_N_WORKERS', '10', 'Senior Developer'] theirs= John(77)   mine= John(447)